		<footer id="footer" class="section-bg">
			<div class="container">
				<div class="row pt-3 align-items-center pb-3">
					<div class="col-lg-3 img-a col-md-12">
						<a
							href="<% activeBar == 'dashboard' ? '/dashboard' : '/' %>"
							class="scrollto"
							><img
								src=""
								width="100"
								style="width: 80px"
								alt=""
								class="img-fluid"
							/>
						</a>
					</div>
					<div class="col-lg-6 col-md-12 text-left order">
						<ul class="social-icons">
							<li>
								<a
									href="https://t.me/"
									class="social-icon"
									target="_blank"
								>
									<i class="fa fa-telegram" aria-hidden="true"></i
								></a>
							</li>
							<li>
								<a
									href="https://twitter.com/"
									class="social-icon"
									target="_blank"
								>
									<i class="fa fa-twitter"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/"
									class="social-icon"
									target="_blank"
								>
									<i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									href="https://discord.com/invite/"
									class="social-icon"
									target="_blank"
								>
									<img
										src="web/img/discord.png"
										width="100"
										style="width: 39px"
										alt=""
										class="img-fluid"
								/></a>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-12">
						<div class="social-links d-flex justify-content-space-between">
							<a href="#" class="twitter">Privacy Policy</a>
							<a href="#" class="facebook"
								>Terms and Condition</a
							>
							<!-- <a href="#" class="instagram">About us</a> -->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="copyright mb-3">
							
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- #footer -->
		<a href="/" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
		<!-- Uncomment below i you want to use a preloader -->
		<!-- <div id="preloader"></div> -->
		<!-- JavaScript Libraries -->
		<script src="web/lib/jquery/jquery.min.js"></script>
		<script src="web/lib/jquery/jquery-migrate.min.js"></script>
		<script src="web/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="web/lib/easing/easing.min.js"></script>
		<script src="web/lib/mobile-nav/mobile-nav.js"></script>
		<script src="web/lib/wow/wow.min.js"></script>
		<script src="web/lib/waypoints/waypoints.min.js"></script>
		<script src="web/lib/counterup/counterup.min.js"></script>
		<script src="web/lib/owlcarousel/owl.carousel.min.js"></script>
		<script src="web/lib/isotope/isotope.pkgd.min.js"></script>
		<script src="web/lib/lightbox/js/lightbox.min.js"></script>
		<!-- Contact Form JavaScript File -->

		<!-- Template Main Javascript File -->
		<script src="web/js/sweetalert.min.js"></script>
		<script src="web/js/main.js"></script>

		<script
			type="text/javascript"
			src="web/js/metamask-onboarding.bundle.js"
		></script>
		<script src="https://cdn.jsdelivr.net/npm/web3@1.2.11/dist/web3.min.js"></script>
		<script type="text/javascript" src="web/js/custom/index.js"></script>
	</body>
</html>
